body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3e393;
    color: #4f91f5;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
}

header h4 {
    text-align:right;
    color: #999;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li.spacer {
    margin: 0 0 0 4px;
}

nav ul li a {
    color: #4f91f5;
    text-decoration: none;
    font-size:80%;
    font-weight:bold;
}

nav ul li a:hover {
    color:#f3e393
}

main {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.panel {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 32%;
    margin:5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #444;
    color: #4f91f5;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    margin: 5px;
    font-weight: bold;
}
main section h2 {
    color: #555;
}

.form {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 98%;
    margin: 0 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color:#555;
}

.readonly {
    border-style: none;
    text-align: center;
    font-weight: bolder;
    color: #4f91f5;
    background-color:#c0c0c0;
}

textarea { resize: none; }
#caseFee { width: 70px; }
#visitDateTime { width: 150px; }
#newpatientId { width: 50px; height: 22px; font-size:20px; }
#firstVisitDate { width: 80px; }
.right { text-align:right; }